:root {
    /* Colors */
    --color-primary-1-base: #4d96a9;
    --color-primary-2-base: #855fb1;

    --color-primary-1-lighter: #71C0D4;
    --color-primary-2-lighter: #b18bdd;
    
    --color-primary-1-light: #8fe3f9;
    --color-primary-2-light: #d9b8ff;

    --color-secondary-1: #fafafa;
    --color-secondary-2: #87879d;
    --color-secondary-3: #28283d;

    --color-secondary-2-25: #87879d40;

    /* Typography */
    --ff-base: 'Red Hat Display', sans-serif;

    --fw-regular: 500;
    --fw-bold: 900;

    /* Section separator */
    --separator-height: 112px;
    --separator-marker-size: 56px;
    --separator-font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

h1, h2 {
    font-family: var(--ff-base);
    font-weight: var(--fw-bold);
    text-align: center;
    color: var(--color-secondary-3);
}

h1 {
    font-size: 2.5rem;
    line-height: 1.1em;
}

h2 {
    font-size: 2rem;
    line-height: 1.125em;
}

p {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: 1rem;
    line-height: 1.625em;
    text-align: center; 
    color: var(--color-secondary-2);
}

p.accent-text {
    font-weight: var(--fw-bold);
    font-size: 1rem;
    line-height: 1.625em;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-primary-1-base);
}

/* Button styles */
.primary-btn {
    font-family: var(--ff-base);
    font-weight: var(--fw-bold);
    font-size: 1rem;
    color: var(--color-secondary-1);

    text-decoration: none;
    padding: 1rem 2.5rem;
    border-radius: 2rem;
    transition: background-color 0.25s ease-out;
}

.btn-small {
    padding: 1rem 1.813rem;
}

.btn-color-1 {
    background-color: var(--color-primary-1-base);
}

.btn-color-1:hover {
    background-color: var(--color-primary-1-lighter);
}

.btn-color-1 .version {
    color: var(--color-primary-1-light);
}

.btn-color-2 {
    background-color: var(--color-primary-2-base);
}

.btn-color-2:hover {
    background-color: var(--color-primary-2-lighter);
}

.btn-color-2 .version {
    color: var(--color-primary-2-light);
}

/* .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    max-width: 79%;
} */

.flex-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-separator {
    height: var(--separator-height);
    position: absolute;
    bottom: 100%;
    left: 50%;
}

.separator-v-line {
    border-left: 1px solid var(--color-secondary-2-25);
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
}

.separator-marker {
    font-size: var(--separator-font-size);
    font-family: var(--ff-base);
    font-weight: var(--fw-bold);
    color: var(--color-secondary-2);
    background-color: var(--color-secondary-1);

    width: var(--separator-marker-size);
    height: var(--separator-marker-size);
    border: 1px solid var(--color-secondary-2-25);
    border-radius: 50%;

    display: grid;
    place-content: center;

    position: absolute;
    bottom: calc(var(--separator-marker-size) / -2);
    left: calc(50% - var(--separator-marker-size) / 2);
}

body {
    --max-content-width: 327px;

    background-color: var(--color-secondary-1);
}

/* Header */
header {
    display: grid;
    grid-template-areas: 
        "logo logo"
        "heroL heroR"
        "content content";
    justify-items: center;
    justify-content: center;
    column-gap: 16px;

    padding: 48px 0 64px;

    /* temp */
    background-color: bisque;
}

.meet-logo {
    grid-area: logo;
    margin-bottom: 54px;
}

.hero-image {
    width: 199px;
    height: 153px;
    margin-bottom: 48px;
}

.hero-image-left {
    grid-area: heroL;
}

.hero-image-right {
    grid-area: heroR;
}

.header-content {
    grid-area: content;
    gap: 24px;
    max-width: var(--max-content-width);
}

.header-content > h1 {
    padding: 0 20px;
}

.header-content > p {
    margin-bottom: 8px;
}

.buttons-container {
    gap: 16px;
}

/* Main */
.main-section {
    padding: 92px 0 64px;
    gap: 64px;
    position: relative;
    margin-top: var(--separator-height);
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    max-width: var(--max-content-width);
}

.gallery-container img {
    width: 151px;
    height: 143px;
    border-radius: 8px;
}

.main-content {
    gap: 24px;
    max-width: var(--max-content-width);
}

.main-content > h2 {
    margin-bottom: 8px;
}

.main-content > p {
    padding: 0 8px;
}

/* Footer */
footer {
    display: grid;
    justify-items: center;
    padding-top: 92px;

    background: center / cover no-repeat url("./assets/mobile/image-footer.jpg"), var(--color-primary-1-base);
    background-blend-mode: multiply;

    position: relative;
    margin-top: var(--separator-height);
}

.footer-content {
    gap: 24px;
    max-width: var(--max-content-width);
}

.footer-content > h2 {
    color: var(--color-secondary-1);
}

.footer-content > p {
    font-size: 18px;
    line-height: 1.444em;
    color: var(--color-secondary-1);
    padding-bottom: 8px;
}

.footer-content > .coded-by-section { 
    color: var(--color-secondary-3);
    font-size: 10px; 
    text-align: center;
    margin-top: 32px;
}

.coded-by-section a { 
    color: var(--color-primary-2); 
}

/* Media queries */
/* Tablet */
@media only screen and (min-width: 768px) {
    h1 {
        font-size: 3rem;
        line-height: 1em;
    }
    
    h2 {
        font-size: 2.5rem;
        line-height: 1.1em;
    }

    body {
        --max-content-width: 573px;
    }
    
    /* Header (tablet) */
    header {
        column-gap: 32px;
        padding: 48px 0 80px;
    }
    
    .meet-logo {
        margin-bottom: 64px;
    }
    
    .hero-image {
        width: auto;
        height: auto;
        margin-bottom: 72px;
    }
        
    .header-content {
        max-width: 457px;
    }
    
    .header-content > h1 {
        padding: 0 56px;
    }
    
    .buttons-container {
        flex-direction: row;
        justify-content: center;
    }

    /* Main (tablet) */
    .main-section {
        padding: 95px 0 80px;
        gap: 48px;
    }

    .gallery-container {
        gap: 11px;
        max-width: fit-content;
    }

    .gallery-container img {
        width: 164px;
        height: 156px;
    }

    .main-content {
        gap: 16px;
    }

    .main-content > h2 {
        margin-bottom: 16px;
    }

    .main-content > p {
        padding: 0;
    }

    /* Footer (tablet)*/
    footer {
        background: center / cover no-repeat url("./assets/tablet/image-footer.jpg"), var(--color-primary-1-base);
        background-blend-mode: multiply;
    }
    
    .footer-content > h2 {
        padding: 0 60px 8px;
    }
    
    .footer-content > p {
        padding-bottom: 16px;
    }
    
    .footer-content > .coded-by-section { 
        margin-top: 18px;
    }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 1.125rem;
        line-height: 1.444em;
    }

    body {
        --max-content-width: 540px;
    }

    /* Header (desktop) */
    header {
        grid-template-areas: 
            "logo logo logo"
            "heroL content heroR";
        column-gap: 56px;
    
        padding: 80px 0 110px;
    }
    
    .meet-logo {
        margin-bottom: 108px;
    }
    
    .hero-image {
        margin-bottom: 0;
    }
    
    .hero-image-left {
        transform: translate(-32px, -48px);
    }
    
    .hero-image-right {
        transform: translate(32px, 0);
    }
    
    .header-content {
        max-width: var(--max-content-width);
    }
    
    .header-content > h1 {
        margin-bottom: 10px;
    }

    /* Main (desktop) */
    .main-section {
        padding: 92px 0 72px;
        gap: 80px;
    }

    .gallery-container {
        gap: 30px;
    }

    .gallery-container img {
        width: 255px;
        height: 242px;
    }

    .main-content > h2 {
        padding: 0 48px;
    }

    /* Footer (desktop) */
    footer {
        padding-top: 116px;
    
        background: center / cover no-repeat url("./assets/desktop/image-footer.jpg"), var(--color-primary-1-base);
        background-blend-mode: multiply;
    }

    .footer-content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1110px
    }
    
    .footer-content > h2 {
        flex: 0 0 350px;
        text-align: left;
        padding: 0;
    }
    
    .footer-content > p {
        flex: 0 0 350px;
        text-align: left;
        padding-bottom: 8px;
    }
    
    .footer-content > .coded-by-section {
        flex: 0 1 100%;
        margin-top: 58px;
    }
}